#For Secret create .env file
# Add OpenAI API key in there named it like OPENAI_API_KEY = your API key

# Add Credentials to .env 
# EMAIL_ADDRESS=yourgmail@gmail.com
# EMAIL_PASSWORD=your_app_password_here
# For personal tests ^^
# Don't use your actual password, just use gmail app password and make a fake email

#openai>=1.0.0
#python-dotenv
